/*
 * blue: #0074d9;
 * gray: #aaa;
 * green: #2ecc40;
 * white: #fefefe;
 */

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Tahoma', 'Arial', sans-serif;
  font-size: 1.3rem;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
}

p {
  font-size: 1.3rem;
  margin: 0 0 0.75em;
}

.breadcrumbs {
  list-style: none;
  overflow: hidden;
}

.breadcrumbs__item {
  float: left;
}

.breadcrumbs__item + .breadcrumbs__item {
  margin-left: 1em;
  position: relative;
}

.breadcrumbs__link {
  font-size: 1.6rem;
}

.idea-detail {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.idea-detail__arguments {
  flex-basis: 25%;
  padding: 0 1%;
  background: #e2f2f2;
  height: 100vh;
  overflow-y: auto;
}

.idea-detail__breadcrumbs {}

.idea-detail__deadline {
  margin-bottom: 0.375em; /* 6px */
  text-align: right;
}

.idea-detail__deadline__time {
  display: block;
}

.idea-detail__description {
  flex-basis: 25%;
  flex-grow: 0;
  padding: 0 1%;
  background: #e6f6f6;
  height: 100vh;
  overflow-y: auto;
}

.idea-detail__location {
  margin-bottom: 0.375em; /* 6px */
}

.idea-detail__metadata {}

.idea-detail__metadata__footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.idea-detail__metadata__header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.idea-detail__modification {
  flex-grow: 1;
}

.idea-detail__modifications {
  align-items: flex-start;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 1%;
}

.idea-detail__modifications__add {
  align-self: flex-end;
  background: #6699ff;
  border: 0;
  border-radius: 0.5em;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 0 0.5em; /* 0 0 6px */
  padding: 0.5em 1em; /* 6px 12px */
}

.idea-detail__tags {
  margin-bottom: 0.6em;
}

.idea-detail__title {
  font-size: 1.9em;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout__main {
  flex-grow: 1;
  display: flex;
  padding: 0 2%;
}

.layout__navigation {
  border-bottom: 0.1em solid #aaa;
  margin-bottom: 1.2em;
  padding: 0.6em 2% 0.5em;
}

.navigation {}

.navigation__item {}

.navigation__item + .navigation__item {
  margin-left: 1em;
}

.navigation__link {
  font-size: 1.6rem;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tags {}

.tags__tag {
  background: #0074d9;
  border-radius: 0.25em/0.75em; /* 4px/12px */
  color: #fefefe;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 0.3125em 0.375em 0; /* 0 5px 6px 0 */
  padding: 0 0.625em; /* 0 10px */
}



/*.help-block {
    font-size: 12px;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}*/
/* #enddocregion quickstart */
/*body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}*/
/* #enddocregion toh */
/*a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}*/

/* Navigation link styles */
/*nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}*/

/* items class */
/*.items {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 24em;
}
.items li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.items li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
.items li.selected {
  background-color: #CFD8DC;
  color: white;
}
.items li.selected:hover {
  background-color: #BBD8DC;
}
.items .text {
  position: relative;
  top: -3px;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}*/
/* #docregion toh */
/* everywhere else */
/** {
  font-family: Arial, Helvetica, sans-serif;
}*/