<main class="ideas">
  <h1 class="ideas__title">
    These are our Ideas!
  </h1>

  <div class="ideas__controls">
    <div class="ideas__search">
      <label class="ideas__search__label" for="query">
        Search:
      </label>

      <input class="ideas__search__query" id="query" type="text" placeholder="e.g. Spring Hill or playground" (keyup)="search()" [(ngModel)]="query">
    </div>
  </div>

  <section class="ideas__list">
    <article class="ideas__idea" *ngFor="let idea of filteredIdeas">
      <idea-teaser [idea]="idea"></idea-teaser>
    </article>
  </section>
</main>
