.ideas {
}

.ideas__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.4em;
}

.ideas__idea {
  flex-basis: 32%;
  margin: 0 2% 1.2em 0;
}

.ideas__idea:nth-of-type(3n) {
  margin-right: 0;
}

.ideas__list {
  display: flex;
  flex-wrap: wrap;
}

.ideas__search {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-right: 6em;
}

.ideas__search__label {
  font-size: 1.6rem;
  margin-right: 0.3125em; /* 5px */
}

.ideas__search__query {
  border: 0.0625em solid var(--color-neutral); /* 1px */
  border-radius: 0.125em; /* 2px */
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0.3125em 0.25em; /* 5px 4px */
}

.ideas__title {
  font-size: 2.4rem;
  margin: 0 0 0.5em;
}
