<main class="ideas">
  <h1 class="ideas__title">These are our Ideas!</h1>
  <form class="ideas__filters">
    <div class="ideas__filter">
      <select>
        <option>Tag</option>
        <option>Social</option>
        <option>Technological</option>
        <option>Economic</option>
        <option>Environmental</option>
        <option>Political</option>
      </select>
    </div>
    <div class="ideas__filter">
      <select>
        <option>Location</option>
        <option>Bowen Hills</option>
        <option>Brisbane</option>
        <option>East Brisbane</option>
        <option>Fortitude Valley</option>
        <option>Herston</option>
        <option>Highgate Hill</option>
        <option>Kangaroo Point</option>
        <option>Kelvin Grove</option>
        <option>New Farm</option>
        <option>Newstead</option>
        <option>Paddington</option>
        <option>Petrie Terrace</option>
        <option>Red Hill</option>
        <option>South Brisbane</option>
        <option>Spring Hill</option>
        <option>Teneriffe</option>
        <option>West End</option>
        <option>Woolloongabba</option>
      </select>
    </div>
    <idea-search></idea-search>
    <button class="ideas__create" routerLink="/idea-add" routerLinkActive="active">Create new idea</button>
  </form>
  <section class="ideas__list">
    <div class="home__ideas__teasers">
      <idea-teaser (onDetailSelected)="ideaDetailSelected($event)" [idea]="idea" *ngFor="let idea of ideas"></idea-teaser>
    </div>
   </section>
</main>