.ideas {}

.ideas__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2.4em;
}

.ideas__create {
  background: #2ecc40;
  border: 0;
  color: #fefefe;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0 0.625em;
}

.ideas__idea {
  flex-basis: 32%;
  margin-bottom: 1.2em;
}

.ideas__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ideas__search {
  align-items: center;
  display: flex;
  flex-grow: 1;
  margin-right: 6em;
}

.ideas__search__label {
  font-size: 1.6rem;
  margin-right: 0.3125em; /* 5px */
}

.ideas__search__query {
  flex: 1;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0 0.25em; /* 4px */
}

.ideas__title {
  font-size: 2.4rem;
  margin: 0 0 0.5em;
}
