<div class="how-it-works">
  <button class="how-it-works__toggle" type="button" (click)="toggle()">
    <span *ngIf="isContentVisible">
      Hide how it works
    </span>

    <span *ngIf="!isContentVisible">
      Show how it works
    </span>
  </button>

  <main class="how-it-works__main">
   <!-- *ngIf="isContentVisible"> -->
    <h1>
      How it works
    </h1>

    <h2>
    How can I contribute?
    </h2>

    <ul>
      <li>
        <strong>Share an idea</strong> for the city for all to elaborate
      </li>

      <li>
        <strong>Share modification</strong> suggestions for ideas to elaborate them
      </li>

      <li>
        <strong>Add additions</strong> to modifications that are still missing somehing or are too vague
      </li>

      <li>
        <strong>Like/dislike</strong> modifications and additions to influence which will be included in the idea
      </li>
    </ul>

    <h2>
      When/How get modifications and additions integrated in the idea?
    </h2>

    <p>
      <strong>After each phase</strong> modifications and their additions people voted for get merged <strong>by the modification author</strong>.
    </p>

    <p>
      Each idea elaboration has three phases:
    </p>
    <ul>
      <li>
        <strong>Initialization</strong> (share your initial thoughts)
      </li>
      <li>
        <strong>Reflection</strong> (share your thoughts after having seen the others' points)
      </li>
      <li>
        <strong>Reinvestigation</strong> (share your thoughts after especially investigating unpopular points)
      </li>
    </ul>

    <h2>
      Which modifications & additions are added?
    </h2>

    <h3>
      Initiation & Reflection Phase:
    </h3>
    <p>
      Modifications that have <strong>only likes and definete additions</strong> (only likes or dislikes -the additions with only likes will be integrated as well). This way people can still elaborate modifications they are devided over.
    </p>

    <h3>
      Reinvestigation Phase:
    </h3>
    <p>
      Here we use the <strong>majority vote</strong> system so that elaborated discussions cane have a result.
    </p>

    <h2>
      Whats up with all that reasoning?
    </h2>

    <p>
      Platypus wants you to work and elaborate ideas together. This can get difficult when people with different opinions, backgrounds and knoledge etc. come together.
    </p>
    <p>
      So reasoning, explaining why you suggest something, is important for everyone to <strong>understand and learn from each other</strong>.
    </p>

    <p>
      <strong>What kind of reasoning helps</strong>: Grounded facts (include references if possible), anecdotes, experiences, etc.
    </p>
    <p>
      <strong>What does not help</strong>: Anything only stating a subjective opinion or similar.
    </p>

  </main>

  <h1>
    Rules &amp; Etiquette
  </h1>

  <p>
    We come together to create new things. To take the first step and find city developments for the citizen. Play fair.
  </p>

  <p>
    Selfish behavior will not help our elaborations for finding solutions. Neither do discrimination, rudeness, or anything that aims at ?.
  </p>

  <p>
    We are a community, and we respect each other even if we have different opinions. This is a place to share and learn, and to ultimately learn to understand each other.
  </p>

  <p>
    Stay nice, do not take opposing opinons personal and help create our future city together!
  </p>
</div>
