.reactions {
  display: flex;
}

.reactions__action {
  background: var(--color-neutral--lightest);
  border: 0.0625em solid; /* 1px */
  color: var(--color-action);
  font-size: 1.6rem;
  margin-right: 0.3125em; /* 5px */
  padding: 0.125em 0.375em; /* 2px 6px */
}

.reactions__action:hover {
  background: var(--color-action);
  border: 0;
  color: var(--color-neutral--lightest);
  padding: 0.1875em 0.4375em; /* 3px 7px */
}

.reactions__action::before {
  font-family: FontAwesome;
}

.reactions__action.reactions__action--dislike {
  color: var(--color-error);
}

.reactions__action.reactions__action--dislike:hover {
  background: var(--color-error);
  color: var(--color-neutral--lightest);
}

.reactions__action.reactions__action--dislike::before {
  content: '\f088'; /* thumbs down */
}

.reactions__action.reactions__action--like {
  color: var(--color-success--darker);
}

.reactions__action.reactions__action--like:hover {
  background: var(--color-success);
  color: var(--color-neutral--lightest);
}

.reactions__action.reactions__action--like::before {
  content: '\f087'; /* thumbs up */
}

.reactions__count {
  color: var(--color-neutral--darker);
  font-size: 1.6rem;
}

.reactions__action::before {
  font-family: FontAwesome;
}

.reactions__reaction {
  align-items: center;
  color: var(--color-neutral--darker);
  display: flex;
  margin-bottom: 0.6em;
  padding: 0;
}

.reactions__reaction + .reactions__reaction {
  margin-left: 1.5em;
}
