<div class="reactions" *ngIf="reactions">
  <div class="reactions__reaction">
    <button class="reactions__action reactions__action--like" [ngClass]="{ 'is-active': wasLikedByCurrentUser() }" (click)="like()" type="secondary">
      Like
    </button>

    <span class="reactions__count">
      {{getLikes()}}
    </span>
  </div>

  <div class="reactions__reaction">
    <button class="reactions__action reactions__action--dislike" [ngClass]="{ 'is-active': wasDislikedByCurrentUser() }" (click)="dislike()" type="secondary">
      Dislike
    </button>

    <span class="reactions__count">
      {{getDislikes()}}
    </span>
  </div>
</div>
