<div class="reactions">
  <div class="reactions__reaction">
    <button class="reactions__action reactions__action--like" (click)="like()" type="secondary">
      Like
    </button>

    <span class="reactions__count">
      {{likes}}
    </span>
  </div>

  <div class="reactions__reaction">
    <button class="reactions__action reactions__action--dislike" (click)="dislike()" type="secondary">
      Dislike
    </button>

    <span class="reactions__count">
      {{dislikes}}
    </span>
  </div>
</div>
