<h1>Welcome to Platypus!</h1>

<p>
Here we create new projects for our city of the future. Everyone can join and productively contribute.
</p>

<p>
Why decide between a duck and a biever, if we can create a platypus? We want to find the best ideas citizens have for their city and elaborate them together to create a better and brighter future for our city!
</p>

<h2>Our collaboration heroes:</h2>

<md-grid-list cols="2" rowHeight="10em">
  <md-grid-tile>
    <md-list class="grid grid-pad">
      <h2 md-subheader>Idea creators with most included modifications</h2>
       <md-list-item *ngFor="let user of users" >
         <div class="module idea">
           <h4>{{user.email}}</h4>
         </div>
      </md-list-item>
    </md-list>
  </md-grid-tile>

  <md-grid-tile>
  <md-list class="grid grid-pad">
    <h2 md-subheader>Users with most included modifications and additions</h2>
      <md-list-item *ngFor="let user of users" >
        <div class="module idea">
          <h4>{{user.email}}</h4>
        </div>
      </md-list-item>
    </md-list>
  </md-grid-tile>
</md-grid-list>
