<h1></h1>

<p>When you register you are assigned a random name. This keeps the discussions anonymous, but still shows you the community members.</p>

<h2>Here are our collaboration heroes:</h2>

<md-grid-list cols="2" rowHeight="10em">
  <md-grid-tile>
    <md-list class="grid grid-pad">
      <h2 md-subheader>Idea creators with most included modifications</h2>
       <md-list-item *ngFor="let user of users" >
         <div class="module idea">
           <h4>{{user.email}}</h4>
         </div>
      </md-list-item>
    </md-list>
  </md-grid-tile>

  <md-grid-tile>
  <md-list class="grid grid-pad">
    <h2 md-subheader>Users with most included modifications and additions</h2>
      <md-list-item *ngFor="let user of users" >
        <div class="module idea">
          <h4>{{user.email}}</h4>
        </div>
      </md-list-item>
    </md-list>
  </md-grid-tile>
</md-grid-list>
