<h2>Ideas</h2>

<idea-search></idea-search>
<md-input-container class="example-full-width">
  <textarea mdInput placeholder="Idea name:"></textarea>
</md-input-container>
<button md-raised-button color="primary" (click)="add(ideaName.value); ideaName.  value=''">
  Add
</button>
<a routerLink="/idea-add" routerLinkActive="active">
  Addform </a>

<md-grid-list class="ideas" cols="2" rowHeight="10em">
  <md-grid-tile *ngFor="let idea of ideas" >
    <md-card (click)="gotoDetail(idea)">
      <md-card-title>{{idea.name}}</md-card-title>
      <md-card-actions>
        <button md-button class="delete" (click)="delete(idea); $event.stopPropagation()">x</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>