<h1>These are our Ideas!</h1>

<md-select placeholder="Tag">
  <md-option>Social</md-option>
  <md-option>Technological</md-option>
  <md-option>Economic</md-option>
  <md-option>Environmental</md-option>
  <md-option>Political</md-option>
</md-select>
<md-select placeholder="Location">
  <md-option>Bowen Hills</md-option>
  <md-option>Brisbane</md-option>
  <md-option>East Brisbane</md-option>
  <md-option>Fortitude Valley</md-option>
  <md-option>Herston</md-option>
  <md-option>Highgate Hill</md-option>
  <md-option>Kangaroo Point</md-option>
  <md-option>Kelvin Grove</md-option>
  <md-option>New Farm</md-option>
  <md-option>Newstead</md-option>
  <md-option>Paddington</md-option>
  <md-option>Petrie Terrace</md-option>
  <md-option>Red Hill</md-option>
  <md-option>South Brisbane</md-option>
  <md-option>Spring Hill</md-option>
  <md-option>Teneriffe</md-option>
  <md-option>West End</md-option>
  <md-option>Woolloongabba</md-option>
</md-select>
<md-chip-list>
  <md-chip>Primary fish</md-chip>
</md-chip-list>
<idea-search></idea-search>


<idea-search></idea-search>
<!-- <md-input-container class="example-full-width">
  <textarea mdInput placeholder="Idea name:"></textarea>
</md-input-container>
<button md-raised-button color="primary" (click)="add(ideaName.value); ideaName.value=''">
  Add
</button> -->
<button md-raised-button color="primary" routerLink="/idea-add" routerLinkActive="active">Create new Idea</button>

<md-grid-list class="ideas" cols="2" rowHeight="10em">
  <md-grid-tile *ngFor="let idea of ideas" >
    <md-card (click)="gotoDetail(idea)">
      <md-card-title>
        <h4>{{idea.title}}</h4>
        <div>Location: {{idea.locatoin}}</div>
        <div>Phase: {{idea.phase}}</div>
        <div *ngFor="let tag of idea.tags">
          <md-chip>tag</md-chip>
        </div>
      </md-card-title>
      <md-card-actions>
        <button md-button class="delete" (click)="delete(idea); $event.stopPropagation()">x</button>
      </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>