<div *ngIf="idea">

  <main class="layout__main">
    <main class="idea-detail">
      <aside class="idea-detail__description">
        <section class="idea-detail__metadata">
          <header class="idea-detail__metadata__header">
            <div class="idea-detail__breadcrumbs">
              <nav class="breadcrumbs">
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">Ideas</a>
                </li>
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">{{idea.title}}</a>
                </li>
              </nav>
            </div>
            <p class="idea-detail__deadline">
              Phase II ends
              <time class="idea-detail__deadline__time">22.4.17, 10:00 a.m.</time>
            </p>
          </header>
          <h1 class="idea-detail__title">{{idea.title}}</h1>
          <footer class="idea-detail__metadata__footer">
            <p class="idea-detail__location">{{idea.location}}</p>
            <section class="idea-detail__tags">
              <div class="tags" *ngFor="let tag of idea.tags">
                <a class="tags__tag" href="#">Tag</a>
              </div>
            </section>
          </footer>
        </section>
        <section>[DESCRIPTION (Part 1/Part 2)]
          <button class="idea-detail__modifications__add" type="button" (click)="showArguments()">Show arguments the idea is based on</button>
          <p>{{idea.parts[0]}}</p>
        </section>
      </aside>
      <main class="idea-detail__modifications">
        <h2>Modifications</h2>
        <div *ngIf="addModificationVisible">
          <idea-add-modification [idea]="idea" (onSave)="onModificationSaved()"></idea-add-modification>
        </div>
        <button class="idea-detail__modifications__add" type="button" (click)="gotoAddModification()" *ngIf="!addModificationVisible">Add Modification</button>
        <how-it-works *ngIf="!addModificationVisible"></how-it-works>
      </main>
        <!-- <arguments></arguments> -->
    <aside class="idea-detail__arguments" *ngIf="argumentsIsVisible">
      <h2>Arguments</h2>
      <button class="idea-detail__modifications__add" type="button" (click)="addArgument()">Add Argument</button>
      <p *ngIf="idea.information.length === 0">Be the first one to add an argument!</p>
    </aside>
  </main>
</main>


      <!-- <select value="selectedPhase" >
        <option [selected]="phases[idea.currentPhase]" *ngFor="let phase of phases">
          {{ phase }}
        </option>
      </select> -->
      <!-- <button md-raised-button (click)="goBack()">Back</button> -->
     <!--  <button md-button (click)="gotoEdit()">Phase over</button> -->
      <!-- <md-menu #menu="mdMenu">
              <button md-menu-item (click)="addModification()">Modification</button>
              <button md-menu-item (click)="addAddition()">Addition</button>
      </md-menu> -->
</div>