
<h2>Create your idea</h2>

<md-input-container class="example-full-width">
  <textarea mdInput placeholder="Idea name:" [(ngModel)]="title"></textarea>
</md-input-container>
  <md-input-container class="example-full-width"><!-- [(ngModel)]="idea.{{ideaPart}}" -->
    <textarea mdInput placeholder="Idea description"></textarea>
  </md-input-container>

<button md-button (click)="goBack()">Back</button>
<!-- <button md-raised-button color="primary" (click)="save()">Save</button> -->
<button md-raised-button color="primary" (click)="add()">Save</button>