<div *ngIf="idea">

  <main class="layout__main">
    <main class="idea-detail">
      <aside class="idea-detail__description">
        <section class="idea-detail__metadata">
          <header class="idea-detail__metadata__header">
            <div class="idea-detail__breadcrumbs">
              <nav class="breadcrumbs">
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">Ideas</a>
                </li>
                <li class="breadcrumbs__item">
                  <a class="breadcrumbs__link" href="#">Idea</a>
                </li>
              </nav>
            </div>
            <p class="idea-detail__deadline">
              Phase II ends
              <time class="idea-detail__deadline__time">22.4.17, 10:00 a.m.</time>
            </p>
          </header>
          <h1 class="idea-detail__title">{{idea.title}}</h1>
          <footer class="idea-detail__metadata__footer">
            <p class="idea-detail__location">{{idea.location}}</p>
            <section class="idea-detail__tags">
              <div class="tags" *ngFor="let tag of idea.tags">
                <a class="tags__tag" href="#">Tag</a>
              </div>
            </section>
          </footer>
        </section>
        <section class="idea-detail__description">[DESCRIPTION (Part 1/Part 2)]</section>
      </aside>
      <main class="idea-detail__modifications">
        <p>Suggested modifications for part II:</p>
        <p>Select modification for details.</p>
        <div class="idea-detail__modification">
          <p>MODIFICATION</p>
        </div>
        <p *ngIf="idea.parts.length === 0">Be the first one to add a modification!</p>
        <div>
          <h4>How it works</h4>
          <ol>
            <li>Check out the <b>idea</b> on the left!</li>
            <li>Take a look at the <b>arguments</b> on the right on which the idea is based on.</li>
            <li>How you can contribute:
              <ul>
                <li>Add another argument around the idea</li>
                <li>Suggest a <b>modification</b> of the idea</li>
                <li>Suggest an <b>addition</b> to an existing modification</li>
                <li>Share your opinion by liking/disliking the existing modifications and additions</li>
              </ul>
            </li>
          </ol>
        </div>
        <button class="idea-detail__modifications__add" type="button">Add</button>
      </main>
    <aside class="idea-detail__arguments" *ngIf="showArguments">[ARGUMENTS]</aside>
  </main>
</main>

  <md-grid-list class="ideas" cols="3">

    <md-grid-tile>
      <a routerLink="/ideas" routerLinkActive="active">Ideas</a> >> {{idea.title}}
      <h2>{{idea.title}}</h2>
      <select value="selectedPhase" >
        <option [selected]="phases[idea.currentPhase]" *ngFor="let phase of phases">
          {{ phase }}
        </option>
      </select>
      <!-- <button md-raised-button (click)="goBack()">Back</button> -->
      <button md-button (click)="gotoEdit()">Phase over</button>
      <div>End of current phase: 22.4.17 10:00am</div>
      <p>{{idea.location}}</p>
      <div *ngFor="let tag of idea.tags">
        <md-chip>tag</md-chip>
      </div>
      <div>
        Lorem ipsum dolor sit amet
      </div>
    </md-grid-tile>

    <md-grid-tile>
      <h3>Modifications</h3>
      <div>
        <button *ngFor="let modification of idea.parts"></button>
      </div>
      <p *ngIf="idea.parts.length === 0">Be the first one to add a modification!</p>
      <div>
        <h4>How it works</h4>
        <ol>
          <li>Check out the <b>idea</b> on the left!</li>
          <li>Take a look at the <b>arguments</b> on the right on which the idea is based on.</li>
          <li>How you can contribute:
            <ul>
              <li>Add another argument around the idea</li>
              <li>Suggest a <b>modification</b> of the idea</li>
              <li>Suggest an <b>addition</b> to an existing modification</li>
              <li>Share your opinion by liking/disliking the existing modifications and additions</li>
            </ul>
          </li>
        </ol>
      </div>
      <md-menu #menu="mdMenu">
              <button md-menu-item (click)="addModification()">Modification</button>
              <button md-menu-item (click)="addAddition()">Addition</button>
      </md-menu>
    </md-grid-tile>

    <md-grid-tile>
      <p *ngIf="idea.information.length === 0">Be the first one to add an argument!</p>
      <md-menu #menu="mdMenu">
              <button md-menu-item (click)="addArgument()">Argument</button>
      </md-menu>
    </md-grid-tile>

  </md-grid-list>
</div>