<div *ngIf="idea">

  <div>
    <a routerLink="/ideas" routerLinkActive="active">Ideas</a> >> {{idea.title}}
  </div>

  <h2>{{idea.title}}</h2>

  <!-- <button md-raised-button (click)="goBack()">Back</button> -->
  <button *ngIf="currentPhase==phase" md-raised-button color="primary" [mdMenuTriggerFor]="menu">Add</button>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="activateModification">Modification</button>
    <button md-menu-item (click)="activatePosition">Position</button>
  </md-menu>
  <button *ngIf="currentPhase==phase" md-button (click)="gotoEdit()">Phase over</button>

  <md-tab-group>
    <md-tab *ngFor="let phase of phases" label="{{phase}}">
      <div *ngFor="let ideaPart of ideaParts">
      <h3 md-subheader>{{ideaPart}} of {{phase}}</h3>
      <button *ngIf="currentPhase==phase" md-raised-button color="primary" [mdMenuTriggerFor]="menu">Add</button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="gotoAdd()">Modification</button>
        <button md-menu-item (click)="gotoAdd()">Position</button>
      </md-menu>
      <p>...</p>
      <button *ngIf="currentPhase==phase" md-raised-button>Show Backgroundinformation</button>
      </div>
      <idea-add-contribution *ngIf="currentPhase==phase&&modificationActive"></idea-add-contribution>
    </md-tab>
  </md-tab-group>


</div>