<div class="rules-and-etiquette">
  <h1>
    Rules &amp; Etiquette
  </h1>

  <p>
    We come together to create new things. To take the first step and find city developments for the citizen. Play fair.
  </p>

  <p>
    Selfish behavior will not help our elaborations for finding solutions. Neither do discrimination, rudeness, or anything that aims at ?.
  </p>

  <p>
    We are a community, and we respect each other even if we have different opinions. This is a place to share and learn, and to ultimately learn to understand each other.
  </p>

  <p>
    Stay nice, do not take opposing opinons personal and help create our future city together!
  </p>
</div>
