.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation__control {}

.navigation__go-to-create {
  background: var(--color-action);
  border: 0;
  border-radius: 0.25em; /* 4px */
  color: var(--color-neutral--lightest);
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0 0.625em 0 0; /* 0 10px 0 0 */
  padding: 0.375em 0.625em 0.375em 1.625em; /* 6px 10px 6px 26px */
  position: relative;
  text-decoration: none;
}

.navigation__go-to-create:hover {
  background: var(--color-action--darker);
}

.navigation__go-to-create::before {
  content: '\f0eb';
  font-family: FontAwesome;
  left: 0.625em; /* 10px */
  line-height: 1.5;
  position: absolute;
  top: 0.375em; /* 3px */
  width: 1em; /* 20px */
}

.navigation__item {}

.navigation__item + .navigation__item {
  margin-left: 1em;
}

.navigation__link {
  color: var(--color-action--darker);
  font-size: 1.6rem;
  white-space: nowrap;
}

.navigation__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__logout {
  background: none;
  border: 0;
  color: var(--color-action--darker);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 0;
  text-decoration: underline;
}
