<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a class="navigation__link" routerLink="/" routerLinkActive="is-active">
        Platypus
      </a>
    </li>

    <li class="navigation__item">
      <a class="navigation__link" routerLink="/ideas" routerLinkActive="is-active">
        Ideas
      </a>
    </li>

    <li class="navigation__item">
      <a class="navigation__link" routerLink="/rules-and-etiquette" routerLinkActive="is-active">
        Rules &amp; Etiquette
      </a>
    </li>
  </ul>

  <div class="navigation__controls">
    <a class="navigation__go-to-create" routerLink="/ideas/new">
      Create new idea
    </a>

    <a class="navigation__link" *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="is-active">
      Login
    </a>

    <button class="navigation__logout" (click)="logout()" *ngIf="isLoggedIn">
      Logout
    </button>
  </div>
</nav>
