.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  flex-grow: 1;
  padding: 0 2%;
}

.app__navigation {
  background: var(--color-brand--lightest);
  margin-bottom: 1.2em;
  padding: 1.2em 2%;
}
