<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<md-nav-list>
    <md-list-item>
        <a routerLink="/ideas" routerLinkActive="active">Platypus</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="/dashboard" routerLinkActive="active">Ranking</a>
    </md-list-item>
    <md-list-item>
        <a routerLink="/dashboard" routerLinkActive="active">Rules & Etiquette</a>
    </md-list-item>
    <md-list-item *ngIf="!isLoggedIn" >
        <a [routerLink]="['/login']">Login</a>
    </md-list-item>
    <md-list-item *ngIf="isLoggedIn">
        <a (ngSubmit)="logout()">Logout</a>
    </md-list-item>
</md-nav-list>
<router-outlet></router-outlet>