.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  flex-grow: 1;
  padding: 0 2%;
}

.app__navigation {
  border-bottom: 0.1em solid #aaa;
  margin-bottom: 1.2em;
  padding: 0.6em 2% 0.5em;
}
