<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<nav>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/ideas" routerLinkActive="active">Ideas</a>
    <a *ngIf="!isLoggedIn" [routerLink]="['/login']">Login</a>
    <a *ngIf="isLoggedIn" [routerLink]="['/login']">Logout</a>
  </nav>
<router-outlet></router-outlet>