<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div class="layout__navigation">
    <nav class="navigation">
        <ul class="navigation__list">
        <li class="navigation__item">
            <a class="navigation__link" href="#" routerLink="/dashboard" routerLinkActive="active">
                Platypus
            </a>
        </li>

        <li class="navigation__item">
            <span class="navigation__link" routerLink="/ideas" routerLinkActive="active">
                Ideas
            </span>
        </li>

        <li class="navigation__item">
            <span class="navigation__link" routerLink="/dashboard" routerLinkActive="active">
                Rules & Etiquette
            </span>
        </li>
        <li class="navigation__item" *ngIf="!isLoggedIn">
            <span class="navigation__link" [routerLink]="['/login']">
                Login
            </span>
        </li>
        <li class="navigation__item" *ngIf="isLoggedIn">
            <a class="navigation__link" (click)="logout()">
                Logout
            </a>
        </li>
        </ul>
    </nav>
</div>
<router-outlet></router-outlet>