<div class="idea-detail__modification">
          <p>Suggested modifications for part II:</p>
          <p>Select modification for details.</p>
          <!-- <p *ngIf="idea.parts.length === 0">Be the first one to add a modification!</p> -->
          <div>
            <h4>How it works</h4>
            <ol>
              <li>Check out the <b>idea</b> on the left!</li>
              <li>Take a look at the <b>arguments</b> on the right on which the idea is based on.</li>
              <li>How you can contribute:
                <ul>
                  <li>Add another argument around the idea</li>
                  <li>Suggest a <b>modification</b> of the idea</li>
                  <li>Suggest an <b>addition</b> to an existing modification</li>
                  <li>Share your opinion by liking/disliking the existing modifications and additions</li>
                </ul>
              </li>
            </ol>
          </div>
        </div>