.history {}

.history__timestamp {
  color: var(--color-neutral--darker);
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 400;
  margin-left: 0.625em; /* 10px */
}

.history__version {
  align-items: center;
  display: flex;
}
