<div class="merge" *ngIf="idea && modification">
  <nav>
    <a class="merge__back" [routerLink]="'/ideas/' + idea.id + '/modifications/' + modification.id">
      &larr; {{modification.title}}
    </a>
  </nav>

  <h1>
    Merge
  </h1>

  <p>
    TODO: how to merge
  </p>

  <div *ngIf="hasState">
    <p *ngIf="currentState.phase.number !== 3">
      In phase {{currentState.phase.number}}, all additions that have been voted for unanimously are considered when merging a modification.
    </p>

    <p *ngIf="currentState.phase.number === 3">
      In phase 3, additions that have been accepted using a majority vote are to be taken into account when merging your modification with the idea. We have put the additions relevant for you with the respective sections for you.
    </p>
  </div>

  <form (ngSubmit)="save()" #ideaForm="ngForm" novalidate>
    <input-block>
      <h2>
        Description
      </h2>

      <div class="merge__bases">
        <div class="merge__basis">
          <h3>
            Current
          </h3>

          <div class="merge__markdown">
            <markdown [content]="idea.description"></markdown>
          </div>
        </div>

        <div class="merge__basis">
          <h3>
            Modification
          </h3>

          <div class="merge__markdown">
            <markdown [content]="modification.text"></markdown>
          </div>

          <section class="merge__additions" *ngIf="hasAdditions">
            <addition-teaser [addition]="addition" [content]="addition.text" [currentPhase]="currentState.phase.number" [idea]="idea" [modification]="modification" *ngFor="let addition of modification.additions"></addition-teaser>
          </section>
        </div>
      </div>

      <label for="description">
        Updated description
      </label>

      <textarea id="description" name="description" [(ngModel)]="updatedIdea.description">{{updatedIdea.description}}</textarea>
    </input-block>

    <input-block>
      <h2>
        Reasoning
      </h2>

      <div class="merge__bases">
        <div class="merge__basis">
          <h3>
            Current
          </h3>

          <div class="merge__markdown">
            <markdown [content]="idea.reasoning"></markdown>
          </div>
        </div>

        <div class="merge__basis">
          <h3>
            Modification
          </h3>

          <div class="merge__markdown">
            <markdown [content]="modification.reasoning"></markdown>
          </div>


          <section class="merge__additions" *ngIf="hasAdditions">
            <addition-teaser [addition]="addition" [content]="addition.reasoning" [currentPhase]="currentState.phase.number" [idea]="idea" [modification]="modification" *ngFor="let addition of modification.additions"></addition-teaser>
          </section>
        </div>
      </div>

      <label for="reasoning">
        Updated reasoning
      </label>

      <textarea id="reasoning" name="reasoning" [(ngModel)]="updatedIdea.reasoning">{{updatedIdea.reasoning}}</textarea>
    </input-block>

    <button type="submit">
      Update the idea with my changes
    </button>
  </form>
</div>
