<main class="idea" *ngIf="idea">
  <h1>
    {{idea.title}}
  </h1>

  <div class="idea__body">
    <aside class="idea__metadata">
      <p>
        Phase II ends

        <time class="idea__deadline">
          22.4.17, 10:00 a.m.
        </time>
      </p>

      <h2 class="idea__metadata__title">
        Description
      </h2>

      <div class="idea__description">
        <markdown [content]="idea.description"></markdown>
      </div>

      <h2 class="idea__metadata__title">
        Reasoning
      </h2>

      <div class="idea__reasoning">
        <markdown [content]="idea.reasoning"></markdown>
      </div>

      <dl>
        <dt *ngIf="idea.location">
          Location
        </dt>

        <dd *ngIf="idea.location">
          {{idea.location}}
        </dd>

        <dt>
          Categories
        </dt>

        <dd>
          {{idea.categories.join(', ')}}
        </dd>

        <dt>
          First suggested by
        </dt>

        <dd>
          {{idea.user.username}}
        </dd>
      </dl>

      <p>
        Version: {{idea.version}}
      </p>

      <p>
        Created at: {{createdAt}}
      </p>

      <p>
        Last updated: {{updatedAt}}
      </p>

      <how-it-works></how-it-works>
    </aside>

    <main class="idea__main">
      <h2>
        Modifications
      </h2>

      <div class="idea__suggest-modification">
        <button type="button" (click)="openModificationForm()" *ngIf="!isModificationFormVisible">
          Suggest a modification
        </button>
      </div>

      <div *ngIf="hasLoadedModifications">
        <div *ngIf="isModificationFormVisible">
          <input-block>
            <label for="modification-title">
              Title
            </label>

            <input id="modification-title" placeholder="Short summary" type="text" [(ngModel)]="modification.title">
          </input-block>

          <input-block>
            <label for="modification-text">
              Text
            </label>

            <textarea id="modification-text" placeholder="text" [(ngModel)]="modification.text"></textarea>
          </input-block>

          <input-block>
            <label for="modification-reasoning">
              Reasoning
            </label>

            <textarea id="modification-reasoning" placeholder="reasoning" [(ngModel)]="modification.reasoning"></textarea>
          </input-block>

          <add-block-controls (onCancel)="closeModificationForm()" (onSave)="saveModification()"></add-block-controls>
        </div>

        <div class="idea__modifications" *ngIf="hasOpenModifications">
          <modification-teaser [idea]="idea" [modification]="modification" *ngFor="let modification of openModifications"></modification-teaser>
        </div>

        <a [routerLink]="'/ideas/' + idea.id + '/history'">
          Show history
        </a>
      </div>
    </main>
  </div>
</main>
