.idea {
  flex-grow: 1;
}

.idea__body {
  display: flex;
  justify-content: space-between;
}

.idea__deadline {
  display: block;
}

.idea__description {}

.idea__main {
  flex-basis: 32%;
  flex-shrink: 0;
}

.idea__metadata {
  flex-basis: 66%;
  flex-shrink: 0;
}

.idea__metadata__title {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.idea__modifications {
  border-top: 0.1em solid var(--color-neutral--lighter);
  margin-bottom: 1.2em;
}

.idea__modifications__header {
  display: flex;
  justify-content: space-between;
}

.idea__reasoning {}

.idea__suggest-modification {
  margin-bottom: 1.2em;
}
