.idea {
  flex-grow: 1;
}

.idea__aside {
  flex-basis: 66%;
  flex-shrink: 0;
}

.idea__aside__title {
  font-size: 1.6rem;
  margin-bottom: 0;
}

.idea__body {
  display: flex;
  justify-content: space-between;
}

.idea__description {}

.idea__history-link {
  display: inline-block;
}

.idea__main {
  flex-basis: 32%;
  flex-shrink: 0;
}

.idea__metadata {
  margin-bottom: 1.2em;
}

.idea__metadata__entry {
  color: var(--color-neutral--darker);
  font-size: 1.2rem;
  margin-bottom: 0.25em; /* 3px */
}

.idea__modifications {
  border-top: 0.1em solid var(--color-neutral--lighter);
  margin-bottom: 1.2em;
}

.idea__modifications__header {
  display: flex;
  justify-content: space-between;
}

.idea__reasoning {}

.idea__suggest-modification {
  margin-bottom: 1.2em;
}
