<main class="idea" *ngIf="idea">
  <h1>
    {{idea.title}}
  </h1>

  <div class="idea__body">
    <aside class="idea__metadata">
      <p>
        Phase II ends

        <time class="idea__deadline">
          22.4.17, 10:00 a.m.
        </time>
      </p>

      <dl>
        <dt *ngIf="idea.location">
          Location
        </dt>

        <dd *ngIf="idea.location">
          {{idea.location}}
        </dd>

        <dt>
          Categories
        </dt>

        <dd>
          {{idea.categories.join(', ')}}
        </dd>

        <dt>
          First suggested by
        </dt>

        <dd>
          {{idea.user.username}}
        </dd>

        <dt>
          Version
        </dt>

        <dd>
          {{idea.version}}
        </dd>

        <dt>
          Created at
        </dt>

        <dd>
          {{createdAt}}
        </dd>

        <dt>
          Last updated
        </dt>

        <dd>
          {{updatedAt}}
        </dd>
      </dl>

      <h2 class="idea__metadata__title">
        Description
      </h2>

      <div class="idea__description">
        <markdown [content]="idea.description"></markdown>
      </div>

      <h2 class="idea__metadata__title">
        Reasoning
      </h2>

      <div class="idea__reasoning">
        <markdown [content]="idea.reasoning"></markdown>
      </div>

      <p>
        <a routerLink="edit">
          Go to edit
        </a>
      </p>
    </aside>

    <main class="idea__main">
      <h2>
        Modifications
      </h2>

      <div *ngIf="hasLoadedModifications">
        <div *ngIf="isModificationFormVisible">
          <input-block>
            <label for="modification-text">
              Text
            </label>

            <textarea id="modification-text" placeholder="text" [(ngModel)]="modification.text"></textarea>
          </input-block>

          <input-block>
            <label for="modification-reasoning">
              Reasoning
            </label>

            <textarea id="modification-reasoning" placeholder="reasoning" [(ngModel)]="modification.reasoning"></textarea>
          </input-block>

          <add-block-controls (onCancel)="closeModificationForm()" (onSave)="saveModification()"></add-block-controls>
        </div>

        <button type="button" (click)="openModificationForm()" *ngIf="!isModificationFormVisible">
          Add modification
        </button>

        <div class="idea__modifications">
          <div class="idea__quicklinks">
            <span class="idea__quicklink" [ngClass]="'idea__quicklink--mixed'" *ngFor="let modification of idea.modifications">
              #1
            </span>
          </div>

          <modification [idea]="idea" [modification]="modification" *ngFor="let modification of idea.modifications"></modification>
        </div>
      </div>

      <how-it-works></how-it-works>
    </main>
  </div>
</main>
