<button class="idea-teaser" (click)="goToIdea()">
  <div class="idea-teaser__categories">
    <div class="idea-teaser__categories__content">
      <div class="idea-teaser__category" [ngClass]="'idea-teaser__category--' + type" *ngFor="let type of idea.categories">
        <span class="idea-teaser__category__title">
          <span class="idea-teaser__category__title__text">
            {{type}}
          </span>
        </span>
      </div>
    </div>
  </div>

  <main class="idea-teaser__main">
    <header class="idea-teaser__header">
      <p class="idea-teaser__tags">
        {{idea.categories.join(', ')}}
      </p>

      <p class="idea-teaser__location">
        {{idea.location}}
      </p>
    </header>

    <h4 class="idea-teaser__title">
      {{idea.title}}
    </h4>

    <footer class="idea-teaser__footer">
      <p class="idea-teaser__phase">
        version {{idea.version}}
      </p>

      <p class="idea-teaser__countdown">
        COUNTDOWN
      </p>
    </footer>
  </main>
</button>
