<button class="idea-teaser" (click)="goToIdea()">
  <header class="idea-teaser__header">
    <p class="idea-teaser__location">
      {{idea.location.join(', ')}}
    </p>

    <p class="idea-teaser__tags">
      {{idea.tags.join(', ')}}
    </p>
  </header>

  <h4 class="idea-teaser__title">
    {{idea.title}}
  </h4>

  <footer class="idea-teaser__footer">
    <p class="idea-teaser__phase">
      {{phase}}
    </p>

    <p class="idea-teaser__countdown">
      Countdown
    </p>
  </footer>
</button>
