<div class="modification" *ngIf="idea && modification">
  <nav>
    <a class="modification__back" [routerLink]="'/ideas/' + idea.id">
      &larr; {{idea.title}}
    </a>
  </nav>

  <h1>
    {{modification.title}}
  </h1>

  <div class="modification__merging" *ngIf="isMergeable">
    <p class="modification__merging__message">
      Your modification can now be integrated with the idea.
    </p>

    <a class="modification__merging__action" [routerLink]="'/ideas/' + idea.id + '/modifications/' + modification.id + '/merge'">
      Integrate
    </a>
  </div>

  <div class="modification__text">
    <markdown [content]="modification.text"></markdown>
  </div>

  <div class="modification__reasoning">
    <h2 class="modification__reasoning__title">
      Reasoning
    </h2>

    <div class="modification__reasoning__content">
      <markdown [content]="modification.reasoning"></markdown>
    </div>
  </div>

  <p class="modification__byline">
    created by {{modification.user.username}},

    <time [title]="getAbsoluteDate(modification.createdAt)">
      {{getRelativeDate(modification.createdAt)}}
    </time>
  </p>

  <div class="modification__reactions">
    <reactions [isViewOnly]="modification.isMerged" [reactions]="modification.reactions" (onDislike)="dislike()" (onLike)="like()"></reactions>
  </div>

  <h2 *ngIf="!modification.isMerged || (modification.isMerged && modification.additions > 0)">
    Additions
  </h2>

  <p *ngIf="!modification.isMerged">
    Still missing something with this modification and its additions? Is it still too vague? Add it now!
  </p>

  <div class="modification__action" *ngIf="!modification.isMerged">
    <custom-button type="secondary" (click)="showAdditionForm()" *ngIf="!isAdditionFormVisible">
      Add to this
    </custom-button>
  </div>

  <div class="modification__addition-form" *ngIf="isAdditionFormVisible">
    <label for="addition">
      Add something to this modification
    </label>

    <input-block>
      <label for="text">
        Text
      </label>

      <textarea autofocus id="text" placeholder="Text" [(ngModel)]="addition.text"></textarea>
    </input-block>

    <input-block>
      <label for="reasoning">
        Reasoning
      </label>

      <textarea id="reasoning" placeholder="Reasoning" [(ngModel)]="addition.reasoning"></textarea>
    </input-block>

    <add-block-controls (onCancel)="hideAdditionForm()" (onSave)="saveAddition()"></add-block-controls>
  </div>

  <div class="modification__additions" *ngIf="hasLoadedAdditions">
    <addition [addition]="addition" [idea]="idea" [modification]="modification" *ngFor="let addition of modification.additions"></addition>
  </div>
</div>
