.modification {}

.modification__actions {
  display: flex;
  justify-content: space-between;
}

.modification__addition-form {}

.modification__additions {}

.modification__byline {
  color: var(--color-neutral);
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 1em;
  text-align: right;
}

.modification__main {
  background: var(--color-neutral--lightest);
  border: 0.1em solid var(--color-neutral);
  border-left-color: var(--color-neutral);
  border-left-width: 0.5em;
  padding: 0.5em 0.9em 0.5em 1em;
}

.modification__main.modification__main--dislikes-only {
  border-left-color: var(--color-error);
}

.modification__main.modification__main--likes-only {
  border-left-color: var(--color-success);
}

.modification__main.modification__main--mixed {
  border-left-color: var(--color-warning);
}

.modification__original-idea {
  /* TODO use different color(name) */
  background: var(--color-warning--lightest);
  margin-bottom: 1.2em;
  padding: 0.6em 1em;
}

.modification__reasoning {}

.modification__reasoning__title {
  font-size: 1.2rem;
  margin-bottom: 0.5em; /* 6px */
}

.modification__reasoning__content p {
  color: var(--color-neutral--darker);
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 0.5em; /* 6px */
}

.modification__reasoning__content em {
  font-style: normal;
}

.modification__text {}
